name: Mirror PF containers

on: workflow_dispatch

env:
  REGISTRY: ghcr.io
  SOURCE_REPO: inverse-inc/packetfence
  DEST_REPO: tnp-ltd/pf-containers
  TAG: maintenance-14-1

jobs:
  push_container:
    strategy:
      max-parallel: 2
      matrix:
        container:
          - httpd.dispatcher
          - httpd.admin_dispatcher
          - pfldapexplorer
          - pfconnector
          - pfacct
          - fingerbank-db
          - pfcron
          - radiusd-cli
          - pfpki
          - pfsso
          - api-frontend
          - pfsetacls
          - radiusd-auth
          - httpd.webservices
          - pfperl-api
          - httpd.aaa
          - radiusd-eduroam
          - radiusd-acct
          - radiusd-load-balancer
          - ntlm-auth-api
          - proxysql
          - haproxy-portal
          - httpd.portal
          - haproxy-admin
          - pfcmd
          - pfqueue
          - pfconfig
          - netdata
          - kafka
          - pfdebian
    runs-on: ubuntu-latest
    container:
      image: quay.io/skopeo/stable:latest
    steps:
      - name: Skopeo Copy
        run: |
          skopeo copy \
            docker://${{ env.REGISTRY }}/${{ env.SOURCE_REPO }}/${{ matrix.container }}:${{ env.TAG }} \
            docker://${{ env.REGISTRY }}/${{ env.DEST_REPO }}/${{ matrix.container }}:${{ env.TAG }} \
            --src-no-creds \
            --dest-username "${{ github.actor }}" \
            --dest-password "${{ secrets.GITHUB_TOKEN }}"
